<div class="block">
  <form class="form-inline search-form js-movie-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Enter movie name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Info</button>
  </form>

  <ul class="movie-container fb js-movie-list">
    <li class="movie-item hero-card card">
      <h4>Spiderman</h4>
      <p class="movie-text">Overview</p>
    </li>
  </ul>
</div>
